<ul class="nav nav-pills">
  <li>
    {{#link-to "settings.index"}}
    <span class="badge pull-right">{{content.length}}</span>
    All
    {{/link-to}}
  </li>
  <li>{{#link-to "settings.general"}}General Information{{/link-to}}</li>
  <li>{{#link-to "settings.mta"}}MTA{{/link-to}}</li>
</ul>
