<ol class="breadcrumb">
  <li>{{#link-to "index"}}Home{{/link-to}}</li>
  <li class="active">Domains</li>
</ol>

<table>
  <thead>
    <th>&nbsp;</th>
    <th>Name</th>
    <th>Type</th>
    <th>Status</th>
    <th>Description</th>
  </thead>
  
  <tbody>
    {{#each domain in model}}
    <tr>
      <td><span class="glyphicon glyphicon-globe"/></td>
      <td>{{#link-to "domains.domain" domain}}{{domain.name}}{{/link-to}}</td>
      <td>{{domain.type}}</td>
      <td>{{domain.status}}</td>
      <td>{{domain.description}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
