<ul class="nav nav-pills">
  <li>{{#link-to "servers.server.index" this}}General Information{{/link-to}}</li>
  <li>{{#link-to "servers.server.services" this}}Services{{/link-to}}</li>
  <li>{{#link-to "servers.server.mta" this}}MTA{{/link-to}}</li>
</ul>
