<ul class="nav nav-pills">
  <li>{{#link-to "servers.server.index" model}}General Information{{/link-to}}</li>
  <li>{{#link-to "servers.server.services" model}}Services{{/link-to}}</li>
  <li>{{#link-to "servers.server.mta" model}}MTA{{/link-to}}</li>
</ul>
