<form class="navbar-form" role="search">
  <div class="input-group">
    {{input class="form-control" value=searchFor}}
    <span class="input-group-addon">
      <span class="glyphicon glyphicon-search"></span>
    </span>
  </div>
</form>
