<ol class="breadcrumb">
  <li>{{#link-to "index"}}Home{{/link-to}}</li>
  <li class="active">Aliases</li>
</ol>

<table>
  <thead>
    <th>&nbsp;</th>
    <th>Email Address</th>
    <th>Target Name</th>
    <th>Target Type</th>
    <th>Description</th>
  </thead>
  
  <tbody>
    {{#each alias in model}}
    <tr>
      <td><span class="glyphicon glyphicon-circle-arrow-right"/></td>
      <td>{{alias.name}}</td>
      <td>{{#link-to "accounts.account" alias.zimbraAliasTargetId}}{{targetName}}{{/link-to}}</td>
      <td>{{alias.type}}</td>
      <td>{{alias.description}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
