<nav class="navbar navbar-default role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      {{#link-to "index" class="navbar-brand"}}
      <img class="img-responsive" src="/img/zimbra.png" alt="Zimbra"/>
      {{/link-to}}
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav">
          <li>{{#link-to "accounts" class="glyphicon glyphicon-user"}}Accounts{{/link-to}}</li>
          <li>{{#link-to "aliases" class="glyphicon glyphicon-circle-arrow-right"}}Aliases{{/link-to}}</li>
          <li>{{#link-to "distributionLists" class="glyphicon glyphicon-th-list"}}Distribution Lists{{/link-to}}</li>
          <li>{{#link-to "resources" class="glyphicon glyphicon-tags"}}Resources{{/link-to}}</li>
          <li>{{#link-to "coses" class="glyphicon glyphicon-usd"}}Class of Service{{/link-to}}</li>
          <li>{{#link-to "domains" class="glyphicon glyphicon-globe"}}Domains{{/link-to}}</li>
          <li>{{#link-to "servers" class="glyphicon glyphicon-tasks"}}Servers{{/link-to}}</li>
          <li>{{#link-to "zimlets" class="glyphicon glyphicon-link"}}Zimlets{{/link-to}}</li>
          <li>{{#link-to "extensions" class="glyphicon glyphicon-link"}}Extensions{{/link-to}}</li>
          <li>{{#link-to "backups" class="glyphicon glyphicon-save"}}Backups{{/link-to}}</li>
        </ul>
      </div>
    </div>
  </div>
</nav>

{{outlet}}
