<h2>Classes of Service</h2>
<table>
  <thead>
    <th>Name</th>
    <th>Description</th>
  </thead>
  
  <tbody>
    {{#each this}}
    <tr>
      <td>{{name}}</td>
      <td>{{description}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
