<h2>Domains</h2>
<table>
  <thead>
    <th>Name</th>
    <th>Type</th>
    <th>Status</th>
    <th>Description</th>
  </thead>
  
  <tbody>
    {{#each this}}
    <tr>
      <td>{{name}}</td>
      <td>{{type}}</td>
      <td>{{status}}</td>
      <td>{{description}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
