<ol class="breadcrumb">
  <li>{{#link-to "index"}}Home{{/link-to}}</li>
  <li class="active">Servers</li>
</ol>

<table>
  <thead>
    <th>Service Host Name</th>
    <th>Description</th>
  </thead>
  
  <tbody>
    {{#each this}}
    <tr>
      <td>{{name}}</td>
      <td>{{description}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
